__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/

.env
!.env.example

.ipynb_checkpoints/


.pytest_cache/
.coverage
.coverage.*
htmlcov/

allure-results/
allure-report/

output.xml
log.html
report.html

screenshots/

logs/
*.log

.vscode/
.idea/

.DS_Store
Thumbs.db
desktop.ini